.card {
  width: 30%;
  padding: 50px;
  margin-left: 650px;
  margin-bottom: 150px;
  margin-top: 150px;

}

.card-body {
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.card-img {
  display: flex;
  justify-content: center;
  //margin-left: 5px;

}

.card-text {
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card-links {
  display: flex;
  justify-content: center;
}