.card {
  width: 30%;
  padding: 50px;
  margin: 100px auto auto;

}
h2 {
  color: #1f4e5f;
}
.card-body {
  //width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.card-img {
  width: auto;
  display: flex;
  justify-content: center;
}

.card-text {
  font-style: oblique;
  font-family: "Arial Nova Cond Light", cursive;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card-links {
  display: flex;
  justify-content: center;
}