
.card {
  width: 30%;
  padding: 50px;
  margin: 100px auto auto;
  //border-color: red;
  border-radius: 75px;
  border-style: dashed;
}
h2 {
  font-weight: bolder;
  font-size: larger;
  font-style: oblique;
  font-family: "Arial Nova Cond Light", cursive;
  display: flex;
  justify-content: center;
  color: #1f4e5f;


}

.title {
  font-weight: 600;
  font-size: large;
  color: steelblue;
}

