.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1f4e5f; // Couleur de fond de la barre de navigation
  color: #f4e7d3; // Couleur du texte
  //padding-left: 200px; // Assurez-vous que cela correspond à la largeur de votre sidebar
  display: flex;
  align-items: center; // Centrer les éléments verticalement
  justify-content: flex-start; // Espacer les éléments de la navbar

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .welcome {
      display: flex;
      align-items: center;

      .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 183px; // Ajustez la largeur du logo ici si nécessaire
          height: 60px; // Gardez le ratio d'aspect du logo
          margin-right: 25px; // Espacement entre le logo et le texte suivant
        }
      }

      .userInfo {
        font-size: 1rem; // Taille du texte de bienvenue
        color: #f4e7d3; // Couleur du texte
        div {
          span {
            margin: 0; // Enlever la marge par défaut du paragraphe
            font-weight: bold;
          }
        }
      }
    }

    .quotaInfo {
      display: flex;
      align-items: center;
      justify-content: space-around; // Cette propriété permet de répartir les icônes uniformément
      width: 20%; // Assurez-vous que l'espace est utilisé sur toute la largeur

      .iconContainer {
        display: flex;
        flex-direction: column; // Alignement vertical des icônes avec le texte en dessous
        align-items: center; // Centre les éléments horizontalement
        text-align: center; // Assure que le texte est centré sous l'icône
        position: relative;
      }
        img {
          width: 34px;
          height: 34px;
          margin-bottom: 5px; // Un petit espace entre l'icône et le texte
        }
        .tooltipText {
          transform: translateX(-50%);
          visibility: hidden;
          width: 120px;
          background-color: #f4e7d3;
          color: #1f4e5f ;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          margin-top: 5px;
          opacity: 0;
          transition: opacity 1.5s, visibility 0.5s;
        }

        .iconContainer:hover .tooltipText {
          visibility: visible;
          opacity: 1;
        }


        div {
          color: #f4e7d3; // Couleur de texte pour les nombres
          font-size: 1.0rem; // Taille de texte appropriée
        }



      .negative {
        color: #ff6347; // Utiliser une couleur visible pour les valeurs négatives, comme le rouge
      }
    }

    .nav {
      list-style: none; // Enlever les puces de liste

      .nav-item {
        margin-left: 1rem; // Espacement entre les éléments de navigation

        .nav-link {
          color: #f4e7d3; // Couleur des liens
          text-decoration: none; // Enlever le soulignement des liens
          &:hover {
            color: #3498db; // Couleur des liens au survol
          }

          &.active {
            font-weight: bold; // Mettre en gras l'élément actif
          }
        }
      }
    }
  }
}
