.main {
  width: 30%;
  padding: 50px;
  margin: 100px auto auto;
  border: 1px solid #1f4e5f;
  border-radius: 25px;
  height: 50%;
}
h2 {
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;
  color: #1f4e5f;
}





