.card {
  width: 30%;
  padding: 50px;
  margin-left: 650px;
  margin-bottom: 150px;
  margin-top: 150px;
}
h2 {
  font-weight: bolder;
  font-size: larger;
  display: flex;
  justify-content: center;

}

.title {
  font-weight: 600;
  font-size: large;
  color: steelblue;
}

//.form-container {
//  width: 100%;
//  margin-bottom: 20px;
//}

