.main {
  padding: calc(var(--spacing-base) * 2);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: var(--primary-color);
  margin-bottom: var(--spacing-large);
  margin-top: 63px;
  //margin-bottom: 10px;
}

.search-resume {
  //margin-top: 10px;
  margin-bottom: 10px;
}


.bi {
  margin-right: 8px; /* Ajoute un peu d'espace à droite de l'icône */
}

.bi-check-circle-fill {
  margin-left: 200px;
  color: green; /* Définit la couleur de l'icône de confirmation à vert */
  font-size: 5rem; /* Ajuste la taille de l'icône */
}

.loading-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Largeur maximale pour les grands écrans */
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  margin-left: 300px;
  height: 100vh; /* Assurez-vous que le conteneur parent a une hauteur pour le centrage vertical */
}
.selected-options-container {
  //margin-top: 10vh;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}

//.back-button {
//  border: none;
//  background-color: transparent;
//  cursor: pointer;
//}

.search-result {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Largeur maximale pour les grands écrans */
  //margin: auto; /* Centre le composant sur la page */
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  .table th, .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd; /* Ligne de séparation subtile */
  }

  .table th {
    background-color: #1f4e5f;
    color: #f4e7d3;
  }

  .table tr:hover {
    background-color: #f2f2f2; /* Un léger effet au survol pour les rangées */
  }

  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }
  }
}
